@keyframes spin {
    0% {
        transform: rotate(0deg);

        border-left-color: var(--text-secondary);
        border-right-color: var(--text-secondary);
    }

    50% {
        border-left-color: transparent;
        border-right-color: transparent;
    }

    100% {
        transform: rotate(360deg);

        border-left-color: var(--text-secondary);
        border-right-color: var(--text-secondary);
    }
}
